.column-1, .column-2 {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  padding-left: 5px;
  background-color: #C7CB85;
  box-shadow: 3px 3px 5px grey;
  max-height: 992px;
  margin-bottom: 70px;
}

.column-1 {
  margin-left: 10px;
}

li {
  list-style-type: none;
}

li a {
  background-color: #820263;
  display: inline-block;
  margin: 5px;
  width: 157px;
  padding: 3px;
}

a:hover {
  background-color: #2E294E;
}

.column-2 {
  margin-left: 10px;
  margin-right: 5px;
}

body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #EAF4D3;
}

h1 {
  background-color: #AEB4A9;
  width: 97%;
  padding: 10px;
}

header#intro {
  width: 97%;
  margin-left: 10px;
}

#intro p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #AEB4A9;
}

footer {
  background-color: #B0D0D3;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: black;
}