<!DOCTYPE html>
<html>
<head>
	<title>Students and Campuses</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>List of Students and their Campuses</h1>
		<ul>
			<% @students.each do |student| %>
				<li><%= student['name'] %> is going to <%= student['campus'] %></li>
			<% end %>
		</ul>
</body>
</html>