.relative { position: relative; }

.octopi {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 5%;
}

.spectacles {
	position: absolute;
	margin-left: 46%;
	margin-top: -12%;
}

.hat {
	position: absolute;
	margin-left: 42%;
	margin-top: -21%;
}